body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  background-color: #f8f9fa;
  transition: background 0.3s, color 0.3s;
}

.sidebar {
  background-color: #7462fd;
  color: white;
  height: 100vh;
  padding: 2rem 1rem;
}

.menu {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-left: 26px;
  z-index: 999;
}

.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  font-weight: 400;
  font-size: large;
  border-radius: 50px;
  cursor: pointer;
  width: 67px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  overflow: hidden;
}

.menu-icon {
  font-size: 1.6rem;
  background-color: color-mix(in srgb, #272829, transparent 92%);
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45505b;
}

.menu-item:hover {
  background-color: #7462fd;
  color: white;
  width: 150px;
}

.menu-item:hover .menu-icon {
  background-color: inherit;
  color: inherit;
}

.menu-text {
  opacity: 0;
  white-space: nowrap;
}

.menu-item:hover .menu-text {
  opacity: 1;
}


.main-content {
  padding: 2rem;
  margin-left: 160px;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #45505b;
}

.skill-img {
  margin-right: 1rem;
  width: 3rem;
}

.carousel-item {
  min-height: 300px;
}

.carousel-indicators [data-bs-target] {
  background-color: #0056b3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.custom-hr {
  height: 3px;
  background-color: #7462fd;
  border: none;
  max-width: 100px;
  margin-top: 0px;
}


.project-card {
  border-radius: 0;
  background: inherit;
  border: 1px solid rgba(0, 0, 0, 0.025);
  position: relative;
  height: 100%;
}

.project-card:hover .link-mask {
  visibility: visible;
  background: rgba(41, 41, 41, 0.5);
}

.project-card:hover .link-mask-text {
  display: block;
}

.project-card .card-img {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-card .card-title {
  font-size: 1.125rem;
}

.project-card .card-text {
  font-size: 0.875rem;
}

.project-card .card-img-holder {
  max-height: 200px;
  overflow: hidden;
  vertical-align: middle;
}

.project-card .link-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.project-card .link-mask .link-mask-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.project-card .link-mask-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: none;
}

.project-card .link-mask-text .btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
}


.cta-section .heading {
  font-size: 2rem;
  font-weight: bold
}

.project-meta {
  border: 1px solid rgba(0,0,0,0.025);
  font-size: 0.875rem
}

.project-meta .client-name {
  font-size: 1.5rem
}

.project-meta .subheading {
  font-size: 1rem
}

.project-meta .client-meta {
  font-size: 1rem
}

.project-meta .client-meta .svg-inline--fa {
  color: #4f4f4f
}

.metric .inner {
  border: 1px solid rgba(0,0,0,0.025);
  height: 100%
}

.metric-desc {
  font-size: 0.875rem;
  color: #8f8f8f
}

.metric-name {
  color: #7462fd;
  font-weight: bold
}

.metric-data {
  font-weight: bold;
  font-size: 2rem
}

.metric-data .unit {
  font-size: 1rem;
  color: #8f8f8f
}

.client-quote {
  padding: 1.5rem;
  padding-left: 3rem;
  border: 1px solid rgba(0,0,0,0.025);
  background: #fafafa;
  height: 100%;
  position: relative
}

.client-quote:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #7462fd transparent transparent transparent;
  -webkit-transform: rotate(360deg)
}

.client-quote .source-profile img {
  max-width: 60px
}

.client-quote .fa-quote-left {
  position: absolute;
  left: 0.35rem;
  top: 0.3rem;
  color: #fff;
  font-size: 0.75rem
}

.client-quote .source-holder {
  position: relative;
  padding-left: 76px;
  height: 60px
}

.client-quote .source-holder .source-profile {
  position: absolute;
  left: 0;
  top: 0
}
.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px; /* centraliza com os marcadores */
  width: 2px;
  height: 100%;
  background-color: #7462fd;
  z-index: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 3rem;
}

.timeline-marker {
  position: absolute;
  top: 5px;
  left: 7px; /* centraliza com a linha */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #7462fd;
  z-index: 1;
}

.timeline-content {
  margin-left: 40px;
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin: 0;
}

.timeline-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}
