@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary-color: #0563bb;
  --secondary-color: #4083d2;
}

body {
  font-family: 'Poppins', 'Roboto', 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  transition: background 0.3s, color 0.3s;
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
}

.main-content {
  padding: 2rem;
  margin-left: 160px;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #45505b;
}

.skill-img {
  margin-right: 1rem;
  width: 3rem;
}

.custom-hr {
  height: 3px;
  background-color: var(--primary-color);
  border: none;
  max-width: 100px;
  margin-top: 0px;
}


.project-card {
  border-radius: 0;
  background: inherit;
  border: 1px solid rgba(0, 0, 0, 0.025);
  position: relative;
  height: 100%;
}

.project-card:hover .link-mask {
  visibility: visible;
  background: rgba(41, 41, 41, 0.5);
}

.project-card:hover .link-mask-text {
  display: block;
}

.project-card .card-img {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-card .card-title {
  font-size: 1.125rem;
}

.project-card .card-text {
  font-size: 0.875rem;
}

.project-card .card-img-holder {
  max-height: 200px;
  overflow: hidden;
  vertical-align: middle;
}

.project-card .link-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.project-card .link-mask .link-mask-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.project-card .link-mask-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: none;
}

.project-card .link-mask-text .btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
}


.cta-section .heading {
  font-size: 2rem;
  font-weight: bold
}

.project-meta {
  border: 1px solid rgba(0, 0, 0, 0.025);
  font-size: 0.875rem
}

.project-meta .client-name {
  font-size: 1.5rem
}

.project-meta .subheading {
  font-size: 1rem
}

.project-meta .client-meta {
  font-size: 1rem
}

.project-meta .client-meta .svg-inline--fa {
  color: #4f4f4f
}

.metric .inner {
  border: 1px solid rgba(0, 0, 0, 0.025);
  height: 100%
}

.metric-desc {
  font-size: 0.875rem;
  color: #8f8f8f
}

.metric-name {
  color: var(--primary-color);
  font-weight: bold
}

.metric-data {
  font-weight: bold;
  font-size: 2rem
}

.metric-data .unit {
  font-size: 1rem;
  color: #8f8f8f
}

.client-quote {
  padding: 1.5rem;
  padding-left: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.025);
  background: #fafafa;
  height: 100%;
  position: relative
}

.client-quote:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: var(--primary-color) transparent transparent transparent;
}

.client-quote .source-profile img {
  max-width: 60px
}

.client-quote .fa-quote-left {
  position: absolute;
  left: 0.35rem;
  top: 0.3rem;
  color: #fff;
  font-size: 0.75rem
}

.client-quote .source-holder {
  position: relative;
  padding-left: 76px;
  height: 60px
}

.client-quote .source-holder .source-profile {
  position: absolute;
  left: 0;
  top: 0
}

.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  /* centraliza com os marcadores */
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 3rem;
}

.timeline-marker {
  position: absolute;
  top: 5px;
  left: 7px;
  /* centraliza com a linha */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid var(--primary-color);
  z-index: 1;
}

.timeline-content {
  margin-left: 40px;
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin: 0;
}

.timeline-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}