@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary-color: #0563bb;
  --secondary-color: #4083d2;
}

body {
  font-family: 'Poppins', 'Roboto', 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  transition: background 0.3s, color 0.3s;
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
}

.main-content {
  padding: 2rem;
  margin-left: 160px;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #45505b;
}


.custom-hr {
  height: 3px;
  background-color: var(--primary-color);
  border: none;
  max-width: 100px;
  margin-top: 0px;
}


.reveal-up {
  opacity: 0;
  transform: translateY(20px); /* Inicia um pouco abaixo da tela */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-up.visible {
  opacity: 1;
  transform: translateY(0); /* Elemento se move para a posição original */
}

.reveal-up.upwards {
  transform: translateY(-20px); /* Para rolar de cima para baixo, o valor negativo começa acima da tela */
}







.cta-section .heading {
  font-size: 2rem;
  font-weight: bold
}


.metric .inner {
  border: 1px solid rgba(0, 0, 0, 0.025);
  height: 100%
}

.metric-desc {
  font-size: 0.875rem;
  color: #8f8f8f
}

.metric-name {
  color: var(--primary-color);
  font-weight: bold
}

.metric-data {
  font-weight: bold;
  font-size: 2rem
}

.metric-data .unit {
  font-size: 1rem;
  color: #8f8f8f
}

.client-quote {
  padding: 1.5rem;
  padding-left: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.025);
  background: #fafafa;
  height: 100%;
  position: relative
}

.client-quote:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: var(--primary-color) transparent transparent transparent;
}

.client-quote .source-profile img {
  max-width: 60px
}

.client-quote .fa-quote-left {
  position: absolute;
  left: 0.35rem;
  top: 0.3rem;
  color: #fff;
  font-size: 0.75rem
}

.client-quote .source-holder {
  position: relative;
  padding-left: 76px;
  height: 60px
}

.client-quote .source-holder .source-profile {
  position: absolute;
  left: 0;
  top: 0
}
